<!-- your html code here -->
<div class="container">
    <div class="row my-5">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid aspernatur mollitia debitis sed
            veritatis
            vitae asperiores consequatur unde similique pariatur autem laborum voluptatem itaque exercitationem nesciunt
            incidunt nam alias.</p>
        <div class="col-md">
            <div class="card border-0">
                <div class="img-container" style="max-height: 215px; overflow: hidden;">
                    <img src="https://static.scientificamerican.com/sciam/cache/file/2AE14CDD-1265-470C-9B15F49024186C10_source.jpg?w=1200"
                    class="card-img-top img-fluid mx-auto d-block" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
                        consequuntur, ipsam vitae minima, laborum consectetur, nisi adipisci impedit itaque facere
                        expedita doloremque natus animi dolorem. Necessitatibus tenetur culpa omnis architecto?</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card border-0">
                <div class="img-container" style="max-height: 215px; overflow: hidden;">
                    <img src="https://cdn.britannica.com/34/235834-050-C5843610/two-different-breeds-of-cats-side-by-side-outdoors-in-the-garden.jpg"
                    class="card-img-top img-fluid mx-auto d-block" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
                        consequuntur, ipsam vitae minima, laborum consectetur, nisi adipisci impedit itaque facere
                        expedita doloremque natus animi dolorem. Necessitatibus tenetur culpa omnis architecto?</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card border-0">
                <div class="img-container" style="max-height: 215px; overflow: hidden;">
                    <img src="https://www.washingtonpost.com/resizer/7tLgbjOZeTsaTiPuxZ1DaxKbWOA=/arc-anglerfish-washpost-prod-washpost/public/FPGDGYJXM56KI5CTHHDX3DN2WQ.jpg"
                    class="card-img-top img-fluid mx-auto d-block" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
                        consequuntur, ipsam vitae minima, laborum consectetur, nisi adipisci impedit itaque facere
                        expedita doloremque natus animi dolorem. Necessitatibus tenetur culpa omnis architecto?</p>
                </div>
            </div>
        </div>
    </div>
</div>
